<!-- Template for Managing Members in the Library Management 

  ###########################################################
-->

<!-- Code For Flashing Message on the screen -->

{% extends 'dashboard.html' %}
{% block nav_member %}class = "active" {% endblock %}

{% block content %}
   <!-- Displaying Flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="width:96%; margin-left: 20px;">
                    <span style="color: black;">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>      
                  </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<!-- ------------------------------------------------------------------------------------------- -->



 <!-- Navbar -->

 <div class="container">
  <div class="row">
       <form method="POST" action="{{url_for('member')}}">
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Member Details</a>
          </div>
          <div class="col-md-8">
         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add" >ADD MEMBER</button>
       </div>
        
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
           
              <div class="input-group no-border">
                <input type="text" id="search" name="search" onkeyup="myFunction()" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </nav>
    </form>

<!-- Ending for navbar -->

<div class="container-fluid">
<div class="row">
  <div class="col">
<div class="card" style="width: 1150px;">
  <div class="card-body">
    <form method="POST" action="{{url_for('member')}}">
       <div class="table-responsive">
       <!-- Table for Displaying Data -->
      <table class="table table-hover table-bordered" id="Mytable">
	     <thead style="font-weight: bold; " class="text-primary">
		      <td>Member Id</td>
		      <td>Member Name</td>
		      <td>Member Phone</td>
          <td>Member Email</td>
		      <td>Address</td>
		      <td>Update</td>
		      <td>Delete</td>
	   </thead>
	{% for i in mdata %}
      <tbody>
	     <tr>
		    <td style="font-weight: bold;" class="text-danger">{{ i['member_id' ] }}</td>
		    <td>{{ i['member_name'] }}</td>
		    <td>{{ i['member_phone'] }}</td>
        <td>{{ i['member_email'] }}</td>
		    <td>{{ i['member_address'] }}</td>
		    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#update{{ i['member_id' ] }}">UPDATE</button></td>
		    <td><button type="submit" class="btn btn-danger" name="del" value="{{ i['member_id' ] }}">DELETE</button></td>
	   </tr>
    </tbody>
{% endfor %}
      </table>
      <!-- Table ended -->
    </div>
    </form>
  </div>
</div>
</div>
</div>
</div>


<!-- Modal body for updating the details of member -->

 {% for item in mdata%}
<div class="modal" id="update{{ item['member_id' ] }}" tabindex="-1" role="dialog" aria-labelledby="update{{ item['member_id' ] }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">                       
                  <div class="modal-header">
                      <h5 class="modal-title" id="update{{ item['member_id' ] }}">UPDATE MEMBER DETAILS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>     
                                    </button>
                                          </div>
                                          <form method="POST">
                                          <div class="modal-body">
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">MEMBER ID :</label>
                                                <div class="col-md-6">
                                                  <input type="text"  class="form-control" value="{{item['member_id']}}" readonly>
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">MEMBER NAME :</label>
                                                <div class="col-md-6">
                                                  <input type="text" name="name"  class="form-control" value="{{item['member_name']}}" >
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">PHONE NUMBER :</label>
                                                <div class="col-md-6">
                                                  <input type="text" name="number" class="form-control" value="{{item['member_phone']}}">
                                                </div>
                                           </div>
                                            <div class="form-group row">
                                                <label class="col-md-6 col-form-label">EMAIL ADDRESS :</label>
                                                <div class="col-md-6">
                                                  <input type="email" name="email" class="form-control" value="{{item['member_email']}}">
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">ADDRESS :</label>
                                                <div class="col-md-6">
                                                  <input type="text" name="address" class="form-control" value="{{item['member_address']}}">
                                                </div>
                                           </div>
                                          <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-danger" >Close</button>
                                            <button type="reset" class="btn btn-secondary" >Clear</button>
                                            <button type="submit" name="update" value="{{item['member_id']}}"class="btn btn-primary" >Save changes</button>
                                          </div>
                                          
                                       
                                        </div>
                                      </form>
                                      </div>
                                    </div>
                                  </div>
{%endfor%}
<!-- Modal Box Ended for updating details -->


<!-- Modal body for Entering the details of new member -->

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                           
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="add">ADD</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <form method="POST" action="{{url_for('member')}}">
                                          <div class="modal-body">
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">MEMBER NAME :</label>
                                                <div class="col-md-6">
                                                  <input type="text" name="name"  class="form-control" pattern="^[A-Za-z]+$" required>
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">PHONE NUMBER :</label>
                                                <div class="col-md-6">
                                                  <input type="tel" name="number" class="form-control"pattern="^[0-9]{10}+$" required>
                                                </div>
                                           </div>
                                           <div class="form-group row">
                                                <label class="col-md-6 col-form-label">EMAIL ADDRESS :</label>
                                                <div class="col-md-6">
                                                  <input type="email" name="email" class="form-control" required>
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">ADDRESS :</label>
                                                <div class="col-md-6">
                                                  <input type="text" name="address" class="form-control">
                                                </div>
                                          <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-danger" >Close</button>
                                            <button type="reset" class="btn btn-secondary" >Clear</button>
                                            <button type="submit" name="add" class="btn btn-primary" >Save changes</button>
                                          </div>
                                        
                                        </div>
                                      </div>
                                    </form>
            </div>
          </div>
        </div>

<!-- Modal Box Ended for adding new member -->


<!-- Modal box For settling outstanding amount-->

{% for item in mdata %}
<div class="modal" id="out{{ item['transaction_id' ] }}" tabindex="-1" role="dialog" aria-labelledby="out{{ item['transaction_id' ] }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">                       
                  <div class="modal-header">
                      <h5 class="modal-title" id="out{{ item['transaction_id' ] }}">Settle Outstanding Amount</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>     
                                    </button>
                                          </div>
                                          <form method="POST" action="{{url_for('transaction')}}" autocomplete="off">
                                          <div class="modal-body">
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">MEMBER ID :</label>
                                                <div class="col-md-6">
                                                  <input type="text"  name="member" class="form-control" value="{{item['member_id']}}" readonly>
                                                </div>
                                           </div>
                                              <div class="form-group row">
                                                <label class="col-md-6 col-form-label">MEMBER NAME :</label>
                                                <div class="col-md-6">
                                                  <input type="text" value="{{item['member_name']}}"  class="form-control" readonly>
                                                </div>
                                           </div>

                                             <div class="form-group row">
                                                <label class="col-md-6 col-form-label">Amount Paid :</label>
                                                <div class="col-md-6">
                                                  <input type="number" name="amount" class="form-control" min=0 max="{{item['outstanding_amount']}}">
                                                </div>
                                           </div>

                                             
                                          <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-danger" >Close</button>
                                            <button type="reset" class="btn btn-secondary" >Clear</button>
                                            <button type="submit" name="settle" value="{{item['member_id']}}"class="btn btn-primary" >Save changes </button>

                                          </div>
                                          
                                       
                                        </div>
                                      </form>
                                      </div>
                                    </div>
                                  </div>
{%endfor%}

<!-- Modal box ended -->


</div>
</div>

<!-- Function for searching the elements in the table data -->
  <script type="text/javascript">
    function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("Mytable");
  var rows = table.getElementsByTagName("tr");
  for (i = 0; i < rows.length; i++) {
    var cells = rows[i].getElementsByTagName("td");
    var j;
    var rowContainsFilter = false;
    for (j = 0; j < cells.length; j++) {
      if (cells[j]) {
        if (cells[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          rowContainsFilter = true;
          continue;
        }
      }
    }

    if (! rowContainsFilter) {
      rows[i].style.display = "none";
    } else {
      rows[i].style.display = "";
    }
  }
}
</script>
<!-- Function Ended -->

{% endblock %}